<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <a><img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"/></a>
     <span>{{appTitle}}</span>
    </button>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon color"  aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon color" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>